#hero{
    background-image: url("images/places/ocean.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-content {
    text-align: center;
    color: white;
    background-color: rgba(35, 32, 32, 0.7);
    padding: 50px 70px;
    border-radius: 7px;
    margin: 20px;
}
#hero-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
}
#hero-content p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(229, 224, 224, 0.7)
}
#hero-content a {
    display:inline-block;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ;
}
#hero-content a:hover {
    background-color: #ffeb3b;
    color: black;
}
#highlights {
  background-color: white; 
  padding: 70px 0;
  display:flex;
  flex-direction: column; 
  align-items: center; 
}
#highlights h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 50px; /* Tạo khoảng hở đẩy 3 bức ảnh xuống dưới */
  letter-spacing: 1px;
  text-transform: uppercase;
}
#destinations{
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap:nowrap;
}
.destination{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex:1;
}
.destination img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}