* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 40px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); 

}
.form-container h2 {
    color: #555;
    font-size: 24px;
    margin-bottom: 30px; 
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 16px;
    color: #555; 
    outline: none; 
    transition: border-color 0.3s;
}


input:focus, textarea:focus {
    border-color: #999;
}


input::placeholder,
textarea::placeholder {
    color: #aaa; 
}


textarea {
    resize: vertical; 
    height: 250px; 
    font-family: inherit; 
}

.flex-row {
    display: flex;
    gap: 30px; 
}


.flex-row input {
    flex: 1; 
}


.form-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0; 
}


button[type="submit"] {
    background-color: #89cff0;
    color: white;
    border: none;
    padding: 15px 30px; 
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.2s;
}


button[type="submit"]:hover {
    background-color: #76bde0; 
}

.note {
    color: #999; 
    font-size: 15px;
}